<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <% include ../head.html %>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #000000;
            text-align: center;
        }

        table th {
            border: 1px solid #000000;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var printData = function (oper) {
            if (oper < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html

                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                prnhtml = '<style type="text/css"> table {  border-collapse: collapse;   }   table td {  border: 1px solid #000000;  text-align: center; font-size: 10px }      table th {     border: 1px solid #000000;   text-align: center;   }   </style>' + prnhtml;

                // 生成并打印ifrme
                var syfPrint = window.frames[0];
                syfPrint.document.body.innerHTML = prnhtml;
                syfPrint.document.execCommand("Print");
            }
            else {
                window.print();
            }
        };
        /* 初始化页面标签 */
        function init() {
            $("#printTimeSpan").html(getCurrentTime());
            $('#startTime').datetimebox({
                required: true,
                editable: false,
                value: GetDateStr(0)
            });
            $('#endTime').datetimebox({
                value: GetDateStr(1),
                editable: false
            });
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
        }

        /*查询操作*/
        var query = function () {
            $.messager.progress({
                text: '数据加载中....'
            });
            $("#printTimeSpan").html(getCurrentTime());
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
            $.post("/center/getCenterDay?type=2", cxw.serializeObject($('#searchForm')), function (result, status) {
                if (status == 'success') {
                    $.messager.progress('close');
                    var str = '';
                    if (result.result1.length > 0) {
                        $.each(result.result1, function (i, ob) {//填充表1数据
                            str += '<tr><td>' + ob.sendTime + '</td><td>' + ob.outTime + '</td><td>' + ob.completeTime + '</td><td>' + ob.station + '</td><td>'
                                    + ob.carIdentification + '</td><td>' + ob.driver + '</td><td>' + ob.doctor + '</td><td>' + ob.nurse + '</td><td>' + ob.alarmPhone + '</td><td>'
                                    + ob.linkPhone + '</td><td>' + ob.localAddr + '</td><td>' + ob.phoneJudge + '</td><td>' + ob.carResult + '</td><td>' + ob.sendAddr + '</td><td>'
                                    + ob.outTimes + '</td><td>' + ob.arriveSpotTime + '</td><td>' + ob.linkSource + '</td><td>' + ob.dispatcher + '</td><td>' + ob.dispatchTime + '</td></tr>';
                        });
                    }
                    str += '<tr><td style="text-align: center" colspan="19">共' + result.result1.length + '条记录</td></tr>';
                    $("#table1 tbody").empty().append(str);

                    if (result.summary.length > 0) { //结果集2
                        var data = result.summary[0];
                        $("#total").html(data.total);
                        $("#normal").html(data.normal);
                        $("#stopTask").html(data.stopTask);
                        $("#emptyTask").html(data.emptyTask);
                    }
                } else {
                    $.messager.progress('close');
                    $.messager.alert('提示', '查询失败!', 'info');
                }
            });
        };

        $(document).ready(function () {
            init();
            query();
        });
    </script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
<iframe src="" width="0" height="0" frameborder="0"></iframe>
<div data-options="region:'north',title:'查询条件',split:true" style="height:80px;">
    <form id="searchForm">
        <div style="padding: 10px;">
            <div style="width: 24%;float: left;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">开始时刻:</label>
                <input id="startTime" name="startTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">结束时刻:</label>
                <input id="endTime" name="endTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   style="width: 100px;text-align: right;display: inline-block;margin-right: 5px;"
                   data-options="iconCls:'ext-icon-zoom',plain:true"
                   onclick="query();">查询</a>
            </div>
            <div style="width: 24%;display: inline-block;float: right;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   data-options="iconCls:'ext-icon-printer',plain:true"
                   onclick="printData(1);">打印</a>
            </div>
        </div>
    </form>
</div>
<div data-options="region:'center',border:false">
    <!--startprint1-->
    <table id="table1" width="99%" cellpadding="0" cellspacing="0" border="0">
        <caption style="font-size:20px;"><b>鄂州市医疗紧急救援中心日报表2</b></caption>
        <thead>
        <tr>
            <td colspan="6" style="border:none;font-size: 10px;text-align: left">
                <span>开始时间:</span>
                <span id="startTimeSpan"></span>
            </td>
            <td colspan="5" style="border:none;font-size: 10px;text-align: left">
                <span>结束时间:</span>
                <span id="endTimeSpan"></span>
            </td>
            <td colspan="8" style="border:none;font-size: 10px;text-align: right">
                <span>打印时间:</span>
                <span id="printTimeSpan"></span>
            </td>
        </tr>
        <tr>
            <td colspan="19" style="border:none;font-size: 10px;text-align: center">
                <span>总数:</span><span id="total">0</span>
                <span>正常完成:</span><span id="normal">0</span>
                <span>中止任务:</span><span id="stopTask">0</span>
                <span>放空车:</span><span id="emptyTask">0</span>
            </td>
        </tr>
        <tr>
            <th>派车时刻</th>
            <th>出车时刻</th>
            <th>完成时刻</th>
            <th>急救站</th>
            <th>实际标识</th>
            <th>司机</th>
            <th>医生</th>
            <th>护士</th>
            <th>呼救电话</th>
            <th>联系电话</th>
            <th>现场地址</th>
            <th>诊断</th>
            <th>出车结果</th>
            <th>送往地点</th>
            <th>出车时间</th>
            <th>到达现场反应时间</th>
            <th>110联动</th>
            <th>调度员</th>
            <th>调度时间</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!--endprint1-->
</div>
</body>
</html>