<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <% include ../head.html %>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #000000;
            text-align: center;
        }

        table th {
            border: 1px solid #000000;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var printData = function (oper) {
            if (oper < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html

                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                prnhtml = '<style type="text/css"> table {  border-collapse: collapse;   }   table td {  border: 1px solid #000000;  text-align: center; font-size: 10px }      table th {     border: 1px solid #000000;   text-align: center;   }   </style>' + prnhtml;

                // 生成并打印ifrme
                var syfPrint = window.frames[0];
                syfPrint.document.body.innerHTML = prnhtml;
                syfPrint.document.execCommand("Print");
            }
            else {
                window.print();
            }
        };
        /* 初始化页面标签 */
        function init() {
            $("#printTimeSpan").html(getCurrentTime());
            $('#startTime').datetimebox({
                required: true,
                editable: false,
                value: GetDateStr(0)
            });
            $('#endTime').datetimebox({
                value: GetDateStr(1),
                editable: false
            });
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
        }

        /*查询操作*/
        var query = function () {
            $.messager.progress({
                text: '数据加载中....'
            });
            $("#printTimeSpan").html(getCurrentTime());
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
            $.post("/center/getHookSpeedStatistics", cxw.serializeObject($('#searchForm')), function (result, status) {
                if (status == 'success') {
                    $.messager.progress('close');
                    var categories = [];
                    var data1 = [];
                    var dataAvg = [];
                    if (result.length > 0) {
                        $.each(result, function (i, ob) {
                            if (ob.username != '平均摘机时间') {
                                categories.push(ob.username);
                                data1.push(ob.avgTime);
                            } else {
                                for (var i = 0; i < result.length - 1; i++) {
                                    dataAvg.push(ob.avgTime);
                                }
                            }
                        });
                        var chart = {
                            type: 'column'
                        };
                        var title = {
                            text: '受理人员摘机速度统计报表'
                        };
                        var subtitle = {
                            text: ''
                        };
                        var xAxis = {
                            categories: categories
                        };
                        var yAxis = {
                            min: 0,
                            title: {
                                text: '摘机时间(秒)'
                            }
                        };
                        var tooltip = {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} 秒</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        };
                        var plotOptions = {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        };
                        var credits = {
                            enabled: false
                        };

                        var series = [{
                            name: '单个调度员平均摘机时间',
                            data: data1
                        }, {
                            name: '全部调度员平均摘机时间',
                            data: dataAvg
                        }
                        ];

                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.subtitle = subtitle;
                        json.tooltip = tooltip;
                        json.xAxis = xAxis;
                        json.yAxis = yAxis;
                        json.series = series;
                        json.plotOptions = plotOptions;
                        json.credits = credits;
                        $('#container').highcharts(json);
                    }
                } else {
                    $.messager.progress('close');
                    $.messager.alert('提示', '查询失败!', 'info');
                }

            });
        };

        $(document).ready(function () {
            init();
            query();
        });
    </script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
<iframe src="" width="0" height="0" frameborder="0"></iframe>
<div data-options="region:'north',title:'查询条件',split:true" style="height:80px;">
    <form id="searchForm">
        <div style="padding: 10px;">
            <div style="width: 24%;float: left;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">开始时刻:</label>
                <input id="startTime" name="startTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">结束时刻:</label>
                <input id="endTime" name="endTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   style="width: 100px;text-align: right;display: inline-block;margin-right: 5px;"
                   data-options="iconCls:'ext-icon-zoom',plain:true"
                   onclick="query();">查询</a>
            </div>
            <div style="width: 24%;display: inline-block;float: right;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   data-options="iconCls:'ext-icon-printer',plain:true"
                   onclick="printData(1);">打印</a>
            </div>
        </div>
    </form>
</div>
<div data-options="region:'center',border:false">
    <!--startprint1-->
    <div id="container" style="width: 80%;margin: 0 auto"></div>
    <!--endprint1-->
</div>
</body>
</html>