<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <% include ../head.html %>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #000000;
            text-align: center;
        }

        table th {
            border: 1px solid #000000;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var printData = function (oper) {
            if (oper < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html

                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                prnhtml = '<style type="text/css"> table {  border-collapse: collapse;   }   table td {  border: 1px solid #000000;  text-align: center; font-size: 10px }      table th {     border: 1px solid #000000;   text-align: center;   }   </style>' + prnhtml;

                // 生成并打印ifrme
                var syfPrint = window.frames[0];
                syfPrint.document.body.innerHTML = prnhtml;
                syfPrint.document.execCommand("Print");
            }
            else {
                window.print();
            }
        };
        /* 初始化页面标签 */
        function init() {
            $("#printTimeSpan").html(getCurrentTime());
            $('#startTime').datetimebox({
                required: true,
                editable: false,
                value: GetDateMonthStr(0)
            });
            $('#endTime').datetimebox({
                value: GetDateMonthStr(1),
                editable: false
            });
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
        }

        /*查询操作*/
        var query = function () {
            $.messager.progress({
                text: '数据加载中....'
            });
            $("#printTimeSpan").html(getCurrentTime());
            $("#startTimeSpan").html($('#startTime').datetimebox('getValue'));
            $("#endTimeSpan").html($('#endTime').datetimebox('getValue'));
            $.post("/center/getNoAreaFlow", cxw.serializeObject($('#searchForm')), function (result, status) {
                if (status == 'success') {
                    $.messager.progress('close');
                    var str = '';
                    if (result.length > 0) {
                        $.each(result, function (i, ob) {//填充表1数据
                            str += '<tr><td>' + ob.datetime + '</td><td>' + ob.localAddr + '</td><td>' + ob.station + '</td><td>' + ob.sendAddr + '</td><td>'
                                    + ob.patientAsk + '</td><td>' + ob.noCar + '</td><td>' + ob.patientIll + '</td><td>' + ob.reinforce + '</td><td>' + ob.other + '</td><td>'
                                    + ob.dispatcher + '</td><td>' + ob.remark + '</td></tr>';
                        });
                    }
                    str += '<tr><td style="text-align: center" colspan="11">共' + result.length + '条记录</td></tr>';
                    $("#table1 tbody").empty().append(str);
                } else {
                    $.messager.progress('close');
                    $.messager.alert('提示', '查询失败!', 'info');
                }
            });
        };

        $(document).ready(function () {
            init();
            query();
        });
    </script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
<iframe src="" width="0" height="0" frameborder="0"></iframe>
<div data-options="region:'north',title:'查询条件',split:true" style="height:80px;">
    <form id="searchForm">
        <div style="padding: 10px;">
            <div style="width: 24%;float: left;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">开始时刻:</label>
                <input id="startTime" name="startTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">结束时刻:</label>
                <input id="endTime" name="endTime" style="width: 150px;"/>
            </div>
            <div style="width: 24%;display: inline-block;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   style="width: 100px;text-align: right;display: inline-block;margin-right: 5px;"
                   data-options="iconCls:'ext-icon-zoom',plain:true"
                   onclick="query();">查询</a>
            </div>
            <div style="width: 24%;display: inline-block;float: right;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   data-options="iconCls:'ext-icon-printer',plain:true"
                   onclick="printData(1);">打印</a>
            </div>
        </div>
    </form>
</div>
<div data-options="region:'center',border:false">
    <!--startprint1-->
    <table id="table1" width="99%" cellpadding="0" cellspacing="0" border="0">
        <caption style="font-size:20px;"><b>未能按所属辖区派车情况流水表</b></caption>
        <thead>
        <tr>
            <td colspan="3" style="border:none;font-size: 10px;text-align: left">
                <span>开始时间:</span>
                <span id="startTimeSpan"></span>
            </td>
            <td colspan="4" style="border:none;font-size: 10px;text-align: left">
                <span>结束时间:</span>
                <span id="endTimeSpan"></span>
            </td>
            <td colspan="4" style="border:none;font-size: 10px;text-align: right">
                <span>打印时间:</span>
                <span id="printTimeSpan"></span>
            </td>
        </tr>
        <tr>
            <th>日期时间</th>
            <th>现场地址</th>
            <th>所属急救站</th>
            <th>实派急救站</th>
            <th>病人意愿</th>
            <th>辖区无车</th>
            <th>病情考虑</th>
            <th>增援派车</th>
            <th>其他</th>
            <th>调度员</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!--endprint1-->
</div>
</body>
</html>